params {
    // Point to your manually downloaded files
    reads = "$baseDir/dataa/*_{1,2}.fastq.gz"
    genome_fasta = "$baseDir/genomee/hg38.fa"

    // General params
    genome_size = 'hs'
    outdir = 'results'
}

process {
    executor = 'local'
    cpus = 4
    memory = '6 GB'
    time = '2h'
}